@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{--header-height: 3rem;--nav-width: 68px;--first-color: #4723D9;--first-color-light: #AFA5D9;--white-color: #F7F6FB;--body-font: 'Nunito', sans-serif;--normal-font-size: 1rem:}*,
::before,::after{box-sizing: border-box}body{position: relative;margin: var(--head) 0 0 0;
padding: 0 1rem;
font-family: var(--body-font);
font-size: var(--normal-font-size);
transition: .5s}a{text-decoration: none}.header{width: 100%;
height: var(--header-height);
position: fixed;top: 0;left: 0;display: flex;align-items: center;justify-content: space-between;
padding: 0 1rem;background-color: var(--white-color);
z-index: var(--z-fixed);transition: .5s}.header_toggle{color: var(--first-color);
font-size: 1.5rem;cursor: pointer}.header_img{width: 35px;height: 35px;display: 
flex;justify-content: center;border-radius: 50%;
overflow: hidden}.header_img img{width: 40px}.l-navbar{position: fixed;top: 0;left: -30%;width: var(--nav-width);
height: 100vh;background-color: var(--first-color);
padding: .5rem 1rem 0 0;transition: .5s;z-index: var(--z-fixed)}.nav{height: 100%;display: flex;flex-direction: column;justify-content: space-between;overflow: hidden}.nav_logo, .nav_link{display: grid;grid-template-columns: max-content max-content;align-items: center;column-gap: 1rem;padding: .5rem 0 .5rem 1.5rem}.nav_logo{margin-bottom: 2rem;margin-left: -10px;}.nav_logo-icon{font-size: 1.25rem;color: var(--white-color)}.nav_logo-name{color: var(--white-color);font-weight: 700}.nav_link{position: relative;color: var(--first-color-light);margin-bottom: 1.5rem;transition: .3s}.nav_link:hover{color: var(--white-color)}.nav_icon{font-size: 1.25rem}.show{left: 0}.body-pd{padding-left: calc(var(--nav-width) + 1rem)}.active{color: var(--white-color)}.active::before{content: '';position: absolute;left: 0;width: 2px;height: 32px;background-color: var(--white-color)}.height-100{height:100vh}
@media screen and (min-width: 768px)
{body{margin: calc(var(--header-height) + 1rem) 0 0 0;
  padding-left: calc(var(--nav-width) + 1rem)}.header{height: calc(var(--header-height) + 1rem);padding: 0 2rem 0 calc(var(--nav-width) + 2rem)}
  .header_img{width: 40px;height: 40px}.header_img img{width: 45px}.l-navbar{left: 0}.show{width: calc(var(--nav-width) + 156px)}.body-pd{padding-left: calc(var(--nav-width) + 188px)}}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,800;1,200&display=swap');
:root{
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#677483;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 0.5rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.nav hr {
  margin-top: -30px;
  height: 7px;
  border-width: 0;
  background-color:#000000;
}

.h1 h1{
  font-size: 1px;
}

.modal.show {
  width: calc(var(--nav-width) + 890px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.422);
  z-index: 1040; /* greater than .modal */
}

body{
  background-image: url("HomePageBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

main{
  display: grid;
  width: 100%;
  margin: 0 auto;
}

/* Modal Job Button */
main .main-body .plus-button{
  margin-top: 2rem;
  width: 100%;
}

main .main-body .plus-button {
  display: flex;
  justify-content: center;
}

main .main-body .plus-button button{
  cursor: pointer; 
  border: none;
  margin-top: 20px;
}
/* End of Modal Job Button */

/* Modal Job Order */
/* .modal-body input:not([type="submit"]){
  font-family: poppins, sans-serif;
  font-size: 12px;
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0px;
  text-align: center;
  border: 2px solid #0000001a;
  background-color: #0000001a;
  border-radius: 5px;
}

.modal-body .TypeofWork {
    padding: 10px 5px;
    width: 100%;
    color: #333333;
    text-align: center;
    background-color: #0000001a;
    border: 2px solid #0000001a;
    cursor: pointer;
    border-radius: 5px;
}

.modal-body input[type="submit"]{
  font-family: poppins, sans-serif;
} */
/* End of Modal Job Order */

/* Job List Container */
main .main-body .job-list-container{
  background-color: #adb9c468;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid black;
  height: auto; /* set the height of the container */
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll; /* add a vertical scrollbar when the content exceeds the container height */
  overflow-x: hidden;
}

main .main-body .job-list-container::-webkit-scrollbar {
  width: 10px;
}

main .main-body .job-list-container::-webkit-scrollbar-track {
  background-color: transparent;
}

main .main-body .job-list-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

main .main-body .job-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

main .main-body .close-button button{
  background: transparent;
  cursor: pointer; 
  border: none;
}

main .main-body .deleteContainer{
  width: 100%;
  text-align: right;
  background-color: transparent;
}

main .main-body .deleteButton{
  background-color: transparent;
  cursor: pointer;
  border: none;
}

main .main-body .date{
  display: inline-block;
  background: var(--color-light);
  border-radius: var(--border-radius-1);
  margin-top: 1rem ;
  padding: 0.5rem 1.6rem;
}

main .main-body .date input[type="date"]{
  background: transparent;
  color: var(--color-dark);   
}

main .main-body .insights > div{
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
}

main .main-body .insights > div:hover{
  box-shadow: none;
}

main .main-body .insights > div span{
  background: var(--color-primary);
  padding: 0.5rem ;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .main-body .insights > div .middle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .main-body .insights h3{
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .main-body .insights .progress{
  position: relative;
  width: 92px;
  height:92px;
  border-radius: 50%;
  background-color: transparent;
}

main .main-body .insights svg{
  width: 7rem;
  height:7rem ;
}

main .main-body .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

main .main-body .insights .project_prog svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .main-body .insights .project_prog2 svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

main .main-body .insights .project_prog3 svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

main .main-body .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of Job List Container */

.right .top{
  display: flex;
  justify-content: end;
  gap: 2rem;
  background: gray;
}

.right .top button {
  display: none;
}

.right .top .profile{
  display: flex;
  gap: 2rem;
  text-align: right;   
}

/*===recent updates=====*/
.right .data-container {
  margin-top: 2rem;
}

.right .data-container .data-container1 {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 3px solid black;
  height: auto; /* set the height of the container */
  width: fit-content;
}

.right .data-container .data-container1:hover{
  box-shadow: none;
}

.right .data-container .data-container1 .data-container2 {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 10px
}

.right table, th, td {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
  table-layout: fixed;
}

.right .message{
  text-align: center;
}

.right .message button{
  width: auto;
}

.right .message .RFmodal-button,
.right .message .decision-button button{
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.right .message .RFmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.right .message .RFmodal.active {
  transform: translate(-50%, -50%) scale(1);
}

.right .message .RFmodal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.right .message .RFmodal-header .RFtitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.right .message .RFmodal-header .RFclose-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.right .message #RFoverlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

.right .message #RFoverlay.active {
  opacity: 1;
  pointer-events: all;
}

.right .message .button{
  cursor: pointer;
  width: 50px;
}

.right .message .button:hover{
  background-color: #cc2626;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

.wrapper{
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
}
h4{
    letter-spacing: -1px;
    font-weight: 400;
}
.img{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}
#img-section p,#deactivate p{
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify;
}
#img-section b,#img-section button,#deactivate b{
    font-size: 14px; 
}

label{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}

.form-control{
    border-radius: 10px;
}

input[placeholder]{
    font-weight: 500;
}
.form-control:focus{
    box-shadow: none;
    border: 1.5px solid #0779e4;
}
select{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

select:focus{
    outline: none;
}
.button{
    background-color: #fff;
    color: #0779e4;
}
.button:hover{
    background-color: #0779e4;
    color: #fff;
}
.btn-primary{
    background-color: #0779e4;
}
.danger{
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
}
.danger:hover{
    background-color: #e20404;
    color: #fff;
}
@media(max-width:576px){
    .wrapper{
        padding: 25px 20px;
    }
    #deactivate{
        line-height: 18px;
    }
}

#form1 .error{
  font-size: 20px;
  color: #f40202;
  display: none;
}

.name-container{
  display: grid;
  width: auto;
  margin: 0 auto;
  grid-template-columns: auto;
  justify-content: center;
}

/* Button */
.container-fluid div button, 
.modal-body button,
.btn{
  color: #0b243c;
  font-weight: bolder;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: 0.4s;
  letter-spacing: 1px;
  background: #079ef6;
  padding: 10px 34px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
  position:relative;
  overflow:hidden;
}

.container-fluid div button:hover,
.modal-body button:hover,
.btn:hover{
  color: #fff;
  background-color: #0887c6;
  cursor: pointer;
}
 
.container-fluid div button:before,
.modal-body button:before,
.btn:before{
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background : #fff;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .3s;
  opacity: 0.3;
}
  
.container-fluid div button:hover:before,
.modal-body button:hover:before,
.btn:hover:before{
  left:95%;
}
/* End of button */